body{
  background-color: #bebef1a6;
}

h1 {
  color: #693668;
  font-weight: 100;
}
.jumbotron {
  background-color: #ff87abbe;
  text-align: center;
}

.btn {
  background-color: #A74482;
  color: white;
  border:3px solid #693668;
}

.row {
  border: 2px solid #ff35616b;
  padding: 8px;
}

label, p {
  color: #A74482;
}

img {
  width: 50%;
  height: auto;
}

